$base-color: rgba(240, 141, 53);
$disabled-primary-button-background: lighten($base-color, 30);
$secondary-color: lighten($base-color, 40);
$secondary-hover-color: lighten($base-color, 20);
$gray: lighten(gray, 30);
$lighten-gray: lighten(gray, 50);
$green: green;
$blue: blue;
$cyan: darkcyan;
$lighter-font: lighten(black, 50);
$dark-font: black;
$white: white;
